#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}
h1{
  font-family: cursive;
  text-shadow: 10px;
}
input{
  border-radius: 10px;
  padding: 5px;
}
button:hover{
  background-color: rgb(255, 187, 0);
}
ul{
  list-style-type: none
}
.nameContainer{
  display: flex;
  gap: 10px;
  background-color:rgb(235, 153, 1);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

li{
  font-family: cursive;

}